<%- include ("../partials/header") %>

     
     
     <div class="container">
		 <header class="jumbotron">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To Editing Bootcamp!</h1>
             <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Image</a>
             </p>
     </header>
		 <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.file %>">
					<div class="caption">
                       <h4>User Name: <%= campground.name %></h4>
                   </div>
                   <div class="caption">
                       <h4>Edit Details: <%= campground.description %></h4>
                   </div>
					<div class="caption">
                       <h4>Task Name: <%= campground.taskname %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
					<p>
						<a href="<%= campground.file %>" class="btn btn-primary" download>Download</a>
                   </p>
					
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include ("../partials/footer") %>